@model PagedResult<InvoicePaymentDto>

<div class="p-4 border rounded">
    <table id="tblData" class="table table-striped table-bordered table-sm bg-white text-dark" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>N°</th>
                <th>Facture</th>
                <th>Date de règlement</th>
                <th>Montant reglé</th>
                <th>Mode de règlement</th>
                <th>N° de transaction</th>
                <th style="width:12%">
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","InvoicePayment",new {id=0},Context.Request.Scheme)','Ajout d\'un règlement de facture')" class="btn btn-sm btn-success text-white d-block" style="cursor:pointer">
                        <partial name="_IconCreate" /> Ajouter
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>
                        @item.Number
                    </td>
                    <td>
                        <a href="/User/InvoiceHeader/Summary/@item.InvoiceHeader.Id" class="bg-transparent" style="cursor:pointer">
                            @item.InvoiceHeader.DisplayText
                        </a>
                    </td>
                    <td>
                        @item.Date.GetValueOrDefault().ToShortDateString()
                    </td>
                    <td class="text-end">
                        @item.AmountPaid.GetValueOrDefault().ToString("N0")
                    </td>
                    <td>
                        @item.PaymentMode.DisplayText
                    </td>
                    @if (!string.IsNullOrWhiteSpace(item.TransactionNumber))
                    {
                        <td>
                            @item.TransactionNumber
                        </td>
                    }
                    else
                    {
                        <td>
                            AUCUN
                        </td>
                    }
                    <td>
                        <div class="text-center">
                            <a href="/User/InvoicePayment/Summary/@item.Id" class="btn btn-sm btn-info" style="cursor:pointer">
                                <partial name="_IconView" />
                            </a>
                            <a onclick="showInPopup('@Url.Action("AddOrEdit","InvoicePayment",new {id=item.Id},Context.Request.Scheme)','Modification d\'un règlement de facture')" class="btn btn-sm btn-success text-white" style="cursor:pointer">
                                <partial name="_IconEdit" />
                            </a>
                            @if (IdentityHelper.IsSuperAdministrator(User))
                            {
                                <a onclick=Delete("/User/InvoicePayment/Delete/@item.Id") class="btn btn-sm btn-danger" style="cursor:pointer">
                                    <partial name="_IconDelete" />
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @(await Component.InvokeAsync<PagerViewComponent>(Model))
</div>

